/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  nav {
    background-color: #3498db; 
    padding: 10px;
    color: white;  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    display: inline;
  }
  
  a {
    color: white;
    text-decoration: none;
  }

  